
.titulo{
	font-size:40px;
	text-decoration-line: overline;	
	text-align: center;
}

.subtitulo{
	font-size: 30px;
	padding-left: 20px;
	font-weight:normal;
}

.subsubtitulo{
	font-size:28px;
}

 p {
	font-family:Arial, Helvetica, san-serif;
	font-size: 20px;
	padding-left: 30px;
	line-height:1.8;
}

code{
	font-size: 15px;
}